# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=docjourney_db
DB_USER=postgres
DB_PASSWORD=senha123

# Configurações do Barramento RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Webhook Mock Notificador
NOTIFIER_WEBHOOK_URL=https://api-mock.sicredi.local/webhook/status
